{% extends 'front/base.html' %}
{% load bootstrap4 %}

{% block title %}

Chat - {{ friend.user.username }}

{% endblock %}


{% block content %}
<h2>Chat - {{ friend.user.username }}</h2>




    {% if message_list %}

    {% for m in message_list %}
    {% if m.is_outbox %}
        <div class=" bg-dark text-white fluid" style="width: 100rem;" >
    {%else %}
        <div class="card fluid" style="width: 100rem;" >
    {% endif %}
        <div class="card-body">

        {% if m.is_outbox %}
            <h5 class="card-title ">Me</h5>
        {% else %}
             <h5 class="card-title">{{ friend_chat.chat_recipient.user.username }}</h5>
        {% endif %}

        <h6 class="card-subtitle mb-2 text-muted">{{ m.created }} </h6>
        <p class="card-text"> {{ m.message_text }}</p>
<hr>
<hr>
        <a href="{% url 'messaging:message_edit' friend.profile_number m.id%}" class="card-link text-inherit">Edit</a>


        </div>
        </div>
            <br>
        {% endfor %}

  </div>
</div>


    {% else %}
    <h3>You have no messages in this conversation</h3>

    {% endif %}
</div>
</p>

{% if message_list.has_other_pages %}
    {% bootstrap_pagination message_list %}

{% endif %}

<hr>


<br>
<br>
<form action="{% url 'messaging:send_message' friend.profile_number %}" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}

        <button type="submit" class="btn btn-primary">Submit</button>

</form>

{% endblock %}