{% extends 'front/base.html' %}
{% load bootstrap4 %}

{% block title %}

Chat - {{ friend.user.username }}

{% endblock %}


{% block content %}
<h2>Chat - {{ friend.user.username }}</h2>

<p>Preview: {{ friend_chat.preview }}...{{ friend_chat.updated }}</p>


    {% if message_list %}

    {% for m in message_list %}
    {% if m.is_outbox %}
        <div class="card bg-dark text-white" style="width: 18rem;" >
    {%else %}
        <div class="card bg-secondary text-white" style="width: 18rem;" >
    {% endif %}
        <div class="card-body">

        {% if m.is_outbox %}
            <h5 class="card-title">Me</h5>
        {% else %}
             <h5 class="card-title">{{ friend_chat.chat_recipient.user.username }}</h5>
        {% endif %}

        <h6 class="card-subtitle mb-2 text-muted">{{ m.created }} </h6>
        <p class="card-text"> {{ m.message_text }}</p>
<hr>
<hr>
        <a href="#" class="card-link text-white">Reply</a>
        <a href="#" class="card-link text-white">Forward</a>

        </div>
        </div>
            <br>
        {% endfor %}

  </div>
</div>


    {% else %}
    <h3>You have no messages in this conversation</h3>

    {% endif %}
</div>
</p>

{% if message_list.has_other_pages %}
    {% bootstrap_pagination message_list %}

{% endif %}

<hr>


<br>
<br>
<form class="form-inline" action="{% url 'messaging:send_message' friend.profile_number %}" method="post" >
    {% csrf_token %}

  <div class="form-group mb-2">

  <div class="form-group mx-sm-3 mb-2">

      <textarea type="message" class="form-control" id="MessageForm" placeholder="Type Your Message"></textarea>
  </div>
  <button type="submit" class="btn btn-primary mb-2">Send</button>
</form>


{% endblock %}