{% load static %}
{% load bootstrap4 %}
{% bootstrap_javascript jquery=True %}
<html>
    <head>
        <title>{% block title %}{% endblock %} - Dating</title>
        <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">Dating</a></h1> 
        </div>


        <div class="row">
            <div class="col-md-8">
                <p>

                    {% if user.is_authenticated %}

                    {% if user.is_staff %}
                        <a href="{% url 'admin:index' %}">Django Admin</a>

                    {% else %}

                    <a href="{% url 'dating:my_friends' %}">Friends</a> | <a href="{% url 'messaging:inbox' %}">Inbox
                        ({{ user.profile.unread_message_count }}) </a>
                    
                    {% endif %}

                   | {{ user.username }} | <a href="{% url 'logout' %}">Logout</a>

                {% endif %}






                </p>

            </div>    

        </div>

        {% if messages %}
            <div class="row">
            <div class="col-md-8">
                <p>
                {% bootstrap_messages %}
                </p>

            </div>
            </div>
        {% endif %}


        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
